{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 ms-4">Главная</h1>
    </div>


    <div class="p-4 mb-4 bg-light rounded-3">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                {% if request.user.role == 1 %}
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                {% elif request.user.role > 1 %}
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 3"></button>
                {% endif %}
            </div>
            <div class="carousel-inner">
                {% if request.user.role == 1 %}
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="{% static 'main/img/slider.svg' %}#svgView(viewBox(0,0,1200,400))" class="d-block w-100" alt="...">
                    <div class="container m-0">
                        <div class="carousel-caption d-none d-md-block text-end m-0 pb-5 mb-5">
                            <h3 class="text-white mb-3">Мои записи</h3>
                            <a class="btn btn-light btn-lg" href="{% url 'view_user_notes' slug=request.user.slug %}">Смотреть</a>
                        </div>
                    </div>
                </div>
                {% elif request.user.role > 1 %}
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="{% static 'main/img/slider.svg' %}#svgView(viewBox(0,400,1200,400))" class="d-block w-100" alt="...">
                    <div class="container m-0">
                        <div class="carousel-caption d-none d-md-block text-start pb-5 m-0 mb-5">
                            <h4 class="text-white mb-3">Записи подразделения</h4>
                            <a class="btn btn-light btn-lg" href="{% url 'view_group_content' %}">Смотреть</a>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="{% static 'main/img/slider.svg' %}#svgView(viewBox(0,800,1200,400))" class="d-block w-100" alt="...">
                    <div class="container m-0">
                        <div class="carousel-caption d-none d-md-block text-end m-0 mb-5 pb-5">
                            <h4 class="mb-3">Статистика подразделения</h4>
                            <a class="btn btn-dark btn-lg" href="{% url 'statistica' %}">Смотреть</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


{% endblock %}