{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link href="{% static 'main/js/main.js' %}" rel="stylesheet">
    {% block link %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a href="{% url 'home' %}" class="navbar-brand col-md-3 col-lg-2 me-0 px-3 text-start">Дисциплинарная практика<br>31 курса</a>
      <div class="navbar-nav">
          <div class="row row-cols-2 mx-2 gx-5">
              <div class="nav-item text-nowrap">
                  <a class="nav-link nav-el">{{ request.user.get_FIO }}</a>
              </div>
              <div class="nav-item text-nowrap">
                  <a class="nav-link nav-el px-3" href="{% url 'logout' %}">Выход</a>
              </div>
          </div>
      </div>
      <button class="navbar-toggler d-md-none collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
              aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
  </header>

  <div class="container-fluid">
      <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
              <div class="position-sticky pt-5">
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted">
                      Главная</h6>
                  <ul class="nav flex-column">
                      {% if request.user.role == 1 or request.user.role == 2 or request.user.role == 3 %}
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{% url 'view_user_notes' slug=request.user.slug %}">
                              <span data-feather="file-text"></span>
                              Мои записи
                          </a>
                      </li>
                      {% endif %}
                      {% if request.user.role > 1 %}
                      <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="{% url 'view_group_content' %}">
                              <span data-feather="users"></span>
                              {{ request.user.category.title }}
                          </a>
                      </li>
                      {% endif %}
                  </ul>
                  {% if request.user.role > 1 %}
                  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 pt-5 mt-4 mb-1 text-muted">
                      сводные данные</h6>
                  <ul class="nav flex-column mb-2">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'statistica' %}">
                              <span data-feather="file-text"></span>
                              Статистика подразделения
                          </a>
                      </li>
                  </ul>
                  {% endif %}
              </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

        {% block content %}{% endblock %}

    </main>
  </div>
</div>


<script src="{% static 'main/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'main/js/feather.min.js' %}"></script>
<script src="{% static 'main/js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
{% block script %}{% endblock %}
  </body>
</html>
