{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    Запись
{% endblock %}


{% block content %}
    <h2 class="mt-4 ms-2"><a onclick="history.back();"><button class="btn btn-outline-secondary btn-circle btn-sm mb-2 me-3"><</button></a>Запись</h2>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card">
                    <div class="card-header text-muted">
                        Кому дано:
                    </div>
                    <div class="card-body">
                        <h5 class="h5 mb-0">{{ note.cadet.get_FIO }}</h5>
                    </div>
                    <div class="card-header text-muted">
                        Вид записи:
                    </div>
                    <div class="card-body">
                        <h5 class="h5 mb-0">{{ note.type }}</h5>
                    </div>
                    <div class="card-header text-muted">
                        Кем дано:
                    </div>
                    <div class="card-body">
                        <h5 class="h5 mb-0">{{ note.who_gave.get_FIO }}</h5>
                    </div>
                    <div class="card-header text-muted">
                        Текст записи:
                    </div>
                    <div class="card-body">
                        <h5 class="h5 mb-0">{{ note.text }}</h5>
                    </div>
                    <div class="card-header text-muted">
                        Дата записи:
                    </div>
                    <div class="card-body">
                        <h5 class="h5 mb-0">{{ note.date|date:"d.m.Y" }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}